/* Rules for homehero.php called into the header for the homepage only */
.home .site-header {
}
.homeHero {
    position: relative;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@media only screen and (min-width: 1024px) {
.homeHero {
    height: $homeHeightDesktop;
}
.home .site-header {
    height: $homeHeightDesktop;
}
}
.homeTitle {
    text-align: center;
}


/* Rules for the homepage template */