footer {
    position: relative;
}
.site-info {
    clear: both;
}
.site-footer {
    clear: both;
    width: $size__site-main;
    background: $dark;
    color: $light;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

footer .widget {
    width: 100%;
    float: left;
    padding: 35px;
    text-align: left;
}
@media only screen and (min-width: 1024px) {
    footer .widget {
        width: 25%;
    }
}
footer li {
    list-style-type: none;
}
.footerWidgets {
    width: 100%;
    padding: 0 10%;
}
.footerWidgets {
    ul, div {
        padding: 0;
        margin: 0 0 0 5px;
    }
}

.socialIcons ul {
    display: -webkit-inline-box;
}

.socialIcons li a:hover {
    color: $vols;
}
.socialIcons li a {
    font-size: 27px;
    padding: 7px;
    color: $light;
}

/*get a quote*/
.getQuote {
    position: fixed;
    right: 10%;
    bottom: 0;
    width: 25%;
    display: block;
}
.getQuote button {
    border: none;
    background-color: $vols;
    border-radius: 0;
    font-size: 17px;
    width: 100%;
}
.quoteForm {
    height: 0;
    overflow: hidden;
    background-color: $vols;
    transition: height .5s ease-out;
    input {
        margin: 10px auto;
        width: 80%;
    }
}
.show .quoteForm {
    height: 300px;
    background-color: $vols;
    transition: height .5s ease-in;
}
.show button {
    background-color: $dark;
}
.getQuote button:focus {
    border: none;
    outline: none;
}
/*Zoho Form*/
li.tempHeadContBdr {
    display: none !important;
}



