.site-header {
    color: $light;
    background-position: 50% 0%;
    min-height: 200px;
}
@media only screen and (min-width: 1000px) {
    .site-header {
        background-size: 100% !important;
    }
}
.site-description {
    padding: 200px 0;
    text-align: center;
    font-size: 4rem;
    margin: 0;
}
.site-title, .site-title a, .site-title a:visited {
    color: $light;
    text-decoration: none !important;
    font-family: $font1;
    -webkit-font-smoothing: antialiased;
    font-size: 2.9rem;
    line-height: 100%;
    padding: 0;
    vertical-align: middle;
}
.site-title {
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    a {
        padding: 0 0 0 5px;

    }
    :hover {
        color: white;
    }
}
.fixed-header {
    background-color: $dblue;
    height: auto;
    position: fixed;
    width: 100%;
}
.site-branding {
    height: inherit;
    padding: 0 0 0 5%;
}
.logosvg {
    height: 3.3rem;
    float: left;
    padding: 5px;
}