.main-navigation button {
	line-height: initial;
	padding: 0 10px;
	text-align: right;
	width: 150px;
}

.main-navigation button:focus {
    outline: none;
}
.main-navigation {
	clear: both;
	display: block;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;

	button {
		border: none;
		border-radius: 0;
		font-size: 1.8em;
		background: $vols;
		height: inherit;
		-webkit-font-smoothing: antialiased;
	}
	button[aria-expanded=true] {
  		background: $lblue;
	}


	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		background: $lblue;
		-webkit-font-smoothing: antialiased;


		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		// float: left;
		position: relative;
		display: flex;
		line-height: 2.3em;
        font-size: 2.3em;


    	:hover {
			background: $vols;
    	}


		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: $light;
		font-family: $font1;
		padding: 0 0 0 10%;
		width: 100%;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.menu-main-menu-container {
    position: fixed;
    width: 100%;
    right: 0;
    max-width: 600px;
}

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


/*Awesome Menu Icon and Animation*/

.main-navigation .menuButton,
.main-navigation .menuButton:before,
.main-navigation .menuButton:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}

.main-navigation .menuButton:before {
  top: -10px;
}

.main-navigation .menuButton:after {
  bottom: -10px;
}

.main-navigation .menuButton,
.main-navigation .menuButton:before,
.main-navigation .menuButton:after {
  transition: all 500ms ease-in-out;
}

.main-navigation.toggled .menuButton {
  background-color: transparent;
}

.main-navigation.toggled .menuButton:before,
.main-navigation.toggled .menuButton:after {
  top: 0;
}

.main-navigation.toggled .menuButton:before {
  transform: rotate(45deg);
}

.main-navigation.toggled .menuButton:after {
  transform: rotate(-45deg);
}
/*centers button in menu*/
.menuContainer {
    position: absolute;
    top: 50%;
    margin-top: -3px;
}
/*menu background*/
.toggled > div {
    height: 100%;
    background-color: $lblue;
}