
/* COLOR SCHEME */

$light: #F9FFF7;
$vols: #FF8200;
$dblue: #003345;
$lblue: #00698C;
$brown: #573009;
$dark: #2D2D2D;

/*Site Areas*/


$color__background-body: $dark;
$color__background-screen: #F9FFF7;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: $dark;
$color__text-headings: $dark;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;





